body {
  background-color: #fff;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #ff3b3f;
}

.TaskButton {
  border: 1px solid black;
  border-radius: 20px;
  margin: 1em;
  padding: 1em;
  box-shadow: 1.5px 1.5px 0 0 lightgray;
}

.ChooseTaskPage {
  text-align: left;
}

.ChooseTaskPage h1, h4 {
  margin-left: 20px;
  margin-top: 20px;
}

.NavBar {
  background-color: #000;
  height: 8vh;
  align-items: center;
  justify-content: space-around;
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.TaskCard {
  border: 1px solid #ff3b3f;
  border-radius: 5px;
  height: 140px;
  padding: 0 10px;
  margin: 20px 20px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-items: center;
}

h3 {
  color: #ff3b3f;
}

